* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  max-width: 1500px;
  margin: 70px auto;
  padding: 50px 100px;
  background-color: white;
  border-radius: 20px;
}
hr {
  border: none;
  height: 2px;
  background-color: rgba(209, 209, 209, 0.4);
  margin-bottom: 50px;
}
