.sneakers_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 50px 0px;
  .sneakers_card {
    background-color: white;
    position: relative;
    .sneakers_img {
      overflow: hidden;
      height: 150px;
    }
    cursor: pointer;
    transition: 0.3s;
    h4 {
      font-weight: 400;
      margin: 20px 0px;
    }
    border: 1px solid rgba(211, 211, 211, 0.4);
    border-radius: 40px;
    padding: 40px 50px;
    .sneakers_card_price {
      text-align: start;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid rgb(129, 129, 129, 0.3);
        background: none;
        opacity: 0.3;
        font-weight: bold;
        font-size: 20px;
        transition: 0.5s;
      }
      button:hover {
        background-color: black;
        color: white;
      }
      div p:nth-child(1) {
        opacity: 0.3;
        margin-bottom: 2px;
      }
      div p:nth-child(2) {
        font-weight: bold;
      }
    }
  }
}
.heart {
  width: 100px;
  height: 36px;
  text-align: start;
  position: relative;
}
.sneakers_card:hover {
  box-shadow: 1px 1px 5px 5px rgb(214, 214, 214, 0.3);
}

.like {
  position: absolute;
  left: 0;
  top: 0;
  // top: 20px;
  // left: 40px;
  z-index: 5;
}

@media (max-width: 1370px) {
  .sneakers_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1170px) {
  .sneakers_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 830px) {
  .sneakers_wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .sneakers_wrapper {
    box-sizing: border-box;
    .sneakers_card {
      padding: 25px;
      .sneakers_img {
        width: 200px;
        margin: 0 auto;
      }
    }
  }
}
