header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
  z-index: 90;
  background-color: white;
  padding: 40px 70px 40px 40px;
  box-shadow: 0px 2px 0px 0px rgb(200, 200, 200);
  .logo {
    width: 280px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    img {
      width: 40px;
      float: left;
    }
    p {
      color: rgb(100, 100, 100, 0.5);
    }
  }

  nav {
    width: 250px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        cursor: pointer;
      }
      a {
        transition: 1s;
      }
      li:nth-child(1) {
        display: flex;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
    }
  }
}

#li_mouse {
  transition: 1s;
  position: relative;
}
.onMouse {
  position: absolute;
  top: -45px;
  left: -15px;
  color: rgb(206, 206, 206, 0.5);
  font-size: 20px;
}

@media (max-width: 650px) {
  header {
    display: block;
    nav {
      margin-top: 10px;
    }
  }
}
